body {
  font-family: Arial, sans-serif;
  background-color: white;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}
table {
  margin: auto;
  width: 60%;
  padding: 10px;
}
th {
  color: black;
}
th {
  color: black;
  background-color: lightgray;
}
tr:nth-child(2) {
  background-color: orange;
}
tr:nth-child(3) {
  background-color: red;
}




