lobody {
  font-family: Arial, sans-serif;
  background-color: white;
}
table, th, td {
  border: 5px solid black;
  border-collapse: collapse;
}
table {
  margin: auto;
  width: 50%;
  padding: 10px;
}
h1 {
  
  text-align: center;
   color: black;
}
th {
  color: black;
  background-color: lightgray;
}

tr:nth-child(2) td {
  background-color: orange;
}

tr:nth-child(3) td {
  background-color: red;
}

tr:nth-child(4) td {
  background-color: orange;
}



















