body {
  font-family: Arial, sans-serif;
  background-color: white;
}

table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}
th {
  color: black;
}
th {
  color: lightgray;
  background-color: orange;
}
tr:nth-child(2) {
  background-color: red;
}


